body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 10px;
}
.head1 {
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  margin: 10px auto;
}

.head2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin: 12px auto;
}

.content {
  color: hsl(229, 6%, 66%);
  width: 28%;
  margin: 0 auto;
}

.content1 {
  font-weight: 400;
  width: 17%;
  height: 150px;
  background-color: white;
  border-width: 3px;
  border-style: solid none none;
  border-radius: 5px;
  border-color: hsl(180, 62%, 55%);
  box-shadow: 0 2px 10px hsl(229, 6%, 66%);
  text-align: left;
  padding: 20px;
  margin: 30px auto;
  position: absolute;
  top: 230px;
  left: 220px;
}
.content1 img {
  width: 15%;
  margin-left: 85%;
  margin-top: 15%;
}

.content2 {
  font-weight: 400;
  width: 17%;
  height: 150px;
  background-color: white;
  border-width: 3px;
  border-style: solid none none;
  border-radius: 5px;
  border-color: hsl(0, 78%, 62%);
  box-shadow: 0 2px 10px hsl(229, 6%, 66%);
  text-align: left;
  padding: 20px;
  margin: 30px auto;
}
.content2 img {
  width: 15%;
  margin-left: 85%;
  margin-top: 15%;
}

.content3 {
  font-weight: 400;
  width: 17%;
  height: 150px;
  background-color: white;
  border-width: 3px;
  border-style: solid none none;
  border-radius: 5px;
  border-color: hsl(34, 97%, 64%);
  box-shadow: 0 2px 10px hsl(229, 6%, 66%);
  text-align: left;
  padding: 20px;
  margin: 30px auto;
}
.content3 img {
  width: 15%;
  margin-left: 85%;
  margin-top: 15%;
}

.content4 {
  font-weight: 400;
  width: 17%;
  height: 150px;
  background-color: white;
  border-width: 3px;
  border-style: solid none none;
  border-radius: 5px;
  border-color: hsl(212, 86%, 64%);
  box-shadow: 0 2px 10px hsl(229, 6%, 66%);
  text-align: left;
  padding: 20px;
  margin: 30px auto;
  position: absolute;
  top: 230px;
  right: 220px;
}
.content4 img {
  width: 15%;
  margin-left: 85%;
  margin-top: 15%;
}
